<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206436790445-j4lb49a99j1v3inuot51mvfbeda9iuek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206436790445-j4lb49a99j1v3inuot51mvfbeda9iuek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206436790445-61bh6tlaaoqgkmb95tram1rcfs2oruud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtR6e9jR4jie1s34SpGEuaxyDFSr9YQjA</string>
	<key>GCM_SENDER_ID</key>
	<string>206436790445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceUsingGetx</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-f4efc</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-f4efc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206436790445:ios:d54ae5816baf0a84c91624</string>
</dict>
</plist>